.pai {
    background-color: green;
    color: white;
    display: flex;
    justify-content: center; 
    padding: 100px;
}

.img {

height: 100px;
width: 100px;
}
    

.filho {
    border: 10px;
    margin: 100px;
}

.navegacao {
    
    margin: 0px 0px 0px auto;
}
