* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 250px;
  background-color: rgb(0, 57, 97);
}
header nav {
  border-bottom: 2px solid blue;
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav img {
  margin: 0px 0px 0px 10px;
}
header nav .navegando {
  margin: 0px 20px 0px auto;
}
header nav .navegando a {
  margin: 0px 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  color: blue;
  padding: 10px;
  border-radius: 5px;
}
header nav .navegando .selecionado {
  background-color: blue;
  color: white;
}
header nav .navegando .selecionado2 {
  border: 10px;
  background-color: green;
  color: white;
}
header h1 {
  width: 100%;
  height: calc(100% - 60px);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre_header {
  height: -moz-fit-content;
  height: fit-content;
}

main {
  width: 100%;
  height: 45%;
}
main .titulo_main {
  width: 100%;
  height: 100px;
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section {
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px 0px;
  background-color: gainsboro;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main section .card_item {
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  padding: 0px 20px;
  text-align: center;
}
main section img {
  margin: 10px 0px 10px 0px;
  width: 100px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main section button {
  margin: 0px 0px 10px 0px;
  background-color: rgb(2, 172, 2);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}
main section button:active {
  background-color: forestgreen;
}

.sobre_main {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}

.msg {
  width: 700px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 0px 20px 0px;
  border: rgb(255, 255, 255) 1px solid;
  box-shadow: 0px 0px 10px black;
}
.msg p {
  margin: 10px 0px 0px 0px;
}

.msg_contato {
  padding: 10px 20px;
}
.msg_contato h3:active {
  color: red;
}
.msg_contato input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  padding: 0px 10px;
}
.msg_contato textarea {
  width: 100%;
  height: 100px;
}
.msg_contato button {
  width: 100%;
  height: 30px;
  background-color: rgb(8, 0, 242);
  color: white;
  border-radius: 10px;
  border: none;
  margin: 10px 0px;
}

footer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(164, 164, 164);
}
footer h3 {
  width: 100%;
  text-align: center;
  padding: 30px;
}
footer .redes {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}
footer .redes img {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}
footer p {
  width: 100%;
  padding: 8px;
  background-color: black;
  color: white;
  text-align: center;
}

.login_main {
  width: 100%;
  height: 93.5%;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_main .login_form {
  display: flex;
  flex-flow: wrap column;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 40px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 255, 0.326);
}
.login_main .login_form img {
  width: 70px;
  height: 70px;
}
.login_main .login_form h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
}
.login_main .login_form input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}
.login_main .login_form button, .login_main .login_form a {
  width: 100%;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.login_main button {
  padding: 7px 15px;
}
.login_main a {
  padding: 5px 5px;
}

.dashboard_body {
  display: grid;
  grid-template-rows: 8% 92%;
}
.dashboard_body header {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: blue;
}
.dashboard_body header a {
  color: white;
  text-decoration: none;
  background-color: red;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
}
.dashboard_body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.dashboard_body main nav {
  width: 15%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.dashboard_body main nav button {
  width: 95%;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.dashboard_body main .display_dashboard_main {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}
.dashboard_body main .display_dashboard_main .mensagem, .dashboard_body main .display_dashboard_main .pesquisar_bombas {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 30px 60px;
  border-radius: 10px;
}
.dashboard_body main .display_dashboard_main .mensagem h1, .dashboard_body main .display_dashboard_main .pesquisar_bombas h1 {
  color: blue;
  margin-bottom: 5px;
}
.dashboard_body main .display_dashboard_main .mensagem {
  display: none;
}
.dashboard_body main .display_dashboard_main .pesquisar_bombas {
  display: none;
}/*# sourceMappingURL=style.css.map */